services:
  nginx:
    ports:
      - "443:443"
    volumes:
      - ./html/prod:/usr/share/nginx/html
      - ./nginx/certs:/etc/nginx/certs
      - ./nginx/prod/default.conf:/etc/nginx/conf.d/default.conf
